.k_audio_player {
  margin-bottom: 20px; }
  .k_audio_player .k_audio {
    width: 100%;
    display: block;
    height: 0;
    transition: height ease .5s; }
    .k_audio_player .k_audio--playing {
      height: 32px; }
  .k_audio_player__area {
    cursor: pointer;
    position: relative; }
    .k_audio_player__area:hover:after {
      opacity: 1; }
    .k_audio_player__area:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #000;
      content: '';
      opacity: .3;
      transition: opacity  ease .5s; }
    .k_audio_player__area:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 150px solid transparent;
      border-left-color: white;
      left: calc(50% - 75px);
      top: calc(50% - 75px);
      border-top-width: 99.9px;
      border-bottom-width: 99.9px;
      opacity: .9;
      transition: opacity  ease .5s; }
    .k_audio_player__area--playing:before {
      opacity: 0; }
    .k_audio_player__area--playing:after, .k_audio_player__area--playing:hover:after {
      opacity: 0; }
  .k_audio_player__cover {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0; }
