.k_audio_player {
  margin-bottom: 20px; }
  .k_audio_player .k_audio {
    width: 100%;
    display: block;
    height: 0;
    transition: height ease .5s; }
    .k_audio_player .k_audio--playing {
      height: 32px; }
  .k_audio_player__area {
    cursor: pointer;
    position: relative; }
    .k_audio_player__area:hover:after {
      opacity: 1; }
    .k_audio_player__area:before {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #000;
      content: '';
      opacity: .3;
      transition: opacity  ease .5s;
      z-index: 1; }
    .k_audio_player__area:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 150px solid transparent;
      border-left-color: white;
      left: calc(50% - 50px);
      top: calc(50% - 150px 0.666);
      border-top-width: 99.9px;
      border-bottom-width: 99.9px;
      opacity: .9;
      transition: opacity  ease .5s;
      z-index: 2; }
    .k_audio_player__area--playing:before {
      opacity: 0; }
    .k_audio_player__area--playing:after, .k_audio_player__area--playing:hover:after {
      opacity: 0; }
  .k_audio_player__cover {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0; }

.k_player {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 56%;
  background-color: #000;
  background-size: contain;
  cursor: pointer; }

.k_player_play {
  position: absolute;
  display: block;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer; }

.k_player_play:before {
  position: absolute;
  top: 13px;
  left: 19px;
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-right-width: 20px;
  border-left: 20px solid #fff; }

.k_player:hover .k_player_play {
  border-color: #999; }

.k_player:hover .k_player_play:before {
  border-left-color: #999; }
