.k_player {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 56%;
  background-color: #000;
  background-size: contain;
  cursor: pointer; }

.k_player_play {
  position: absolute;
  display: block;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer; }

.k_player_play:before {
  position: absolute;
  top: 13px;
  left: 19px;
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-right-width: 20px;
  border-left: 20px solid #fff; }

.k_player:hover .k_player_play {
  border-color: #999; }

.k_player:hover .k_player_play:before {
  border-left-color: #999; }
